.App{
  display: flex;
  flex-direction: column;
 
}
.chart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: absolute;
  left: 0;
  top: 50px;
  transition: all 0.5s linear;
  margin-bottom: 15px;
  
}